*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.back {
    width: 200vh;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.179);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 ,rgba(0,0,0, 0.37);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.text-logo{
    font-size: x-large;
    padding: 10px;
    display: flex;

}

#typewriter-text::after {
    content: "|";
    margin-left: 5px;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  

  